<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center">
                    <h2 class="section-heading">Menu de Pâques</h2>
                    <h3 class="section-subheading text-muted">Votre repas de fête pour 49 euros</h3>
                    <div class="menu"></div>
                </div>
                <div class="col-md-4 text-center">
                    <h2 class="section-heading">Nouvelles</h2>
                </div>
            </div>
        </div>
    </section>